html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body {
    font-size: 100%;
}

textarea {
    flex: 1 1 auto;
    font-size: 150%;
    width: 80%;
    height: 35%;
}

input {
    font-size: 150%;
    width: 80%;
    height: 10%;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    width: 80%;
    height: 15%;
    background: lightgray;
    color: black;
}
